{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block body %}
 {% if message is not none%}
        <div class="alert alert-primary" role="alert">
                     {{message}}
        </div>
{% endif %}
<div class="login-form  mx-auto w-50">
    <form action="{{ url_for('login') }}" method="post">
        <h2 class="text-center">Log in</h2>
        <div class="form-group">
            <input name="username" type="text" class="form-control" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input name="password" type="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <p class="text-center"><a href="{{ url_for('register') }}">Create an Account</a></p>
    </form>

</div>

{% endblock %}